<div class="container">
  <% if @book_user.errors.any? %>
  <h3><%= pluralize(@book_user.errors.count ,"error") %> prohibited this obj from being saved:</h3>
  <ul>
  <% @book_user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>
  <div class="row">
    <!--左側-->
    <div class="col-md-3">
      <%= render './left_contents', book: @book_user, user: @user %> <!--部分テンプレート呼出-->
    </div>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover ">
        <thead class="font-weight-bold">
          <tr>
            <td></td>
            <td>Title</td>
            <td>Opinion</td>
            <td></td>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag book.get_image(80,80) %>
            </td>
            <td>
              <%= link_to book.title, book_path(book.id) %>
            </td>
            <td><%= book.body %></td>
            <td></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>