<div class="container">
  <% if @book.errors.any? %>
  <h3><%= pluralize(@book.errors.count ,"error") %> prohibited this obj from being saved:</h3>
  <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>
  <div class="row">
    <!--左側-->
    <div class="col-md-3">
      <%= render './left_contents', book: @book, user: @booker.user %> <!--部分テンプレート呼出-->
    </div>
    <!--右側-->
    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to(user_path(@booker.user_id)) do %>
                  <%= image_tag @booker.user.get_profile_image(100,100) %><br>
                  <%= @booker.user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to @booker.title, book_path(@booker.id) %>
              </td>
              <td><%= @booker.body %></td>
              <% if @booker.user == current_user %>
              <td>
                <%= link_to(edit_book_path(@booker.id), class: "btn btn-success") do %>
                  Edit
                <% end %>
              </td>
              <% end %>
              <% if @booker.user == current_user %>
              <td>
                <%= link_to(book_path(@booker.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？") do %>
                  Destroy
                <% end %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>